{% extends 'deafult.html' %}

{% block title %}
Advert
{% endblock title %}

{% block content %}
    {% if advertList %}
        <h3> Latest adverts </h3>
        <br>
        <ul>
        {% for adv in advertList %}
            <hr>
            <li>
                <p align="left">
                    <b>Title:</b> {{ adv.title }} <span style="padding-left: 10px;"><b>Category:</b> {{ adv.id_category }}</span>
                    
                    <br>
                    {% if request.user == adv.id_user %}
                        <a class="nav-link" href="/edit/{{ adv.pk }}">Edit</a>
                    {% endif %}
                    <a class="nav-link" href="/advert/{{ adv.pk }}">Look</a>
                </p>
            </li>
        {% endfor %}
        </ul>
        <hr>
    {% else %}
        <br>
        <ul>
        <h3>Nothing here</h3>
        </ul>
    {% endif %}
{% endblock content %}