{% extends 'deafult.html' %}


{% block title %}
Advert
{% endblock title %}

{% block content %}
    <br>
    <b>Title:</b> {{ advertView.title }} <span style="padding-left: 10px;"><b>Category:</b> {{ advertView.id_category }} </span> 
    <b style="padding-left: 10px;">{{ advertView.dateCreation|date:' ∙ h:i ∙ ' }} </b>
    <b style="padding-left: 10px;">By {{ advertView.id_user }} </b>
    <br>
    <hr style="width:70%;text-align:left;margin-left:0">

    <p align="justify">
        {{ advertView.text }}
        <br>
        {% load static %}
        <img src="{% get_media_prefix %}{{ advertView.image }}" alt="Image">
        
    </p>
    {% if request.user != advertView.id_user %}
        <hr style="width:70%;text-align:left;margin-left:0">
        <div align="center">
            <b>Respond</b>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <table align="center">
         
            {{ form }}
        
        </table>
        <div align="center">
            <input type="hidden" name="id_advert" value="{{ advertView.pk }}">
            <input type="submit" value="Confirm">
        </div>
        </form>
    {% endif %}
{% endblock content %}