{% extends 'deafult.html' %}

{% block title %}
Adverts
{% endblock title %}

{% block content %}
    {% if advertList %}
        <h3> Latest adverts </h3>
        <br>
        <ul>
            
        {% for adv in advertList %}
            
            <li>
                <hr>
                <p align="left">
                    <b>Title:</b> {{ adv.title }} <span style="padding-left: 10px;"><b>Category:</b> {{ adv.id_category }} </span> 
                    <b style="padding-left: 10px;">{{ adv.dateCreation|date:' ∙ h:i ∙ ' }} </b>
                    <br>
                    {% if request.user == adv.id_user %}
                    <a class="nav-link" href="{% url 'advEdit' adv.id %}">Edit</a>
                    <a class="nav-link" href="{% url 'advDelete' adv.id %}">Delete</a>
                    {% endif %}
                    <a class="nav-link" href="{% url 'advDetail' adv.id %}">Look</a>
                    
                </p>
            </li>
            
        {% endfor %}
        </ul>
        
    {% else %}
        <br>
        <ul>
        <h3>Nothing here</h3>
        {% if request.user.is_authenticated %}
            <a class="nav-link" href="/adverts/add">New advert</a>
        {% endif %}
        </ul>
    {% endif %}
{% endblock content %}